/************************************************
    CUSTOM PROPERTIES
 ************************************************/
:root {
    --header-footer-height: 80px;

    --main-col-left-width: 50px;
}

/************************************************
    RESET 
 ************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/************************************************
    UTILITIES 
 ************************************************/
.wrapper {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

/************************************************
    MAIN 
 ************************************************/
main {
    display: flex;

    height: calc(100% - var(--header-footer-height));
}

/* Left Column */
main .col-left {
    height: 100%;
    width: var(--main-col-left-width);
    background-color: black;
    flex-shrink: 0;
    padding: 10px 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

main .col-left img.logo {
    width: 30px;
    margin-bottom: 10px;
}
main .col-left img {
    width: 25px;
    margin: 5px 0;
}

/* Right Column */
main .col-right {
    height: 100%;
    background-color: #141922;

    flex-grow: 1;
}

/* ### main header ### */
.main-header {
    width: 100%;
    height: var(--header-footer-height);
    background-color: rgba(0, 0, 0, 0.5);

    text-align: right;
    line-height: var(--header-footer-height);
}

.main-header button {
    background-color: transparent;
    color: white;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 20px;

    padding: 13px 40px;
    margin-right: 20px;
}
.main-header button:hover {
    cursor: pointer;
}

/* ### main content ### */
main .content {
    height: calc(100% - var(--header-footer-height));
    color: wheat;
    overflow-y: auto;
}

/************************************************
    FOOTER 
 ************************************************/
footer {
    height: var(--header-footer-height);
    background-color: #282828;
}

/************************************************
    RESPONSIVE: MOBILE-FIRST
 ************************************************/
/* DESKTOP */
@media screen and (min-width: 1200px) {
    :root {
        --main-col-left-width: 300px;
    }
}

/************************************************
    FONTS
 ************************************************/
