/************************************************
    CUSTOM PROPERTIES
 ************************************************/
:root {
    --header-footer-height: 80px;

    --main-col-left-width: 50px;
}

/************************************************
    RESET 
 ************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", system-ui;
    font-weight: bold;
    font-size: 1rem;
    color: gray;
}

ul {
    list-style-type: none;
    color: inherit;
}

button {
    font-family: inherit;
    font-size: 0.8rem;
}

/************************************************
    UTILITIES 
 ************************************************/
.wrapper {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.d-none {
    display: none;
}

.progress-bar {
    flex-grow: 1;
    min-width: 100px;

    height: 4px;
    background-color: gray;
    border-radius: 2px;
    cursor: pointer;
}
.progress {
    position: relative;
    width: 30%;
    height: 100%;
    background-color: whitesmoke;
    border-radius: 2px;
}
.progress-bar:hover .progress {
    background-color: lime;
}
.progress-bar:hover .progress::after {
    position: absolute;
    top: 50%;
    right: 0;

    content: "";
    width: 15px;
    height: 15px;
    background-color: whitesmoke;
    border-radius: 50%;

    transform: translate(50%, -50%);
}

/************************************************
    MAIN 
 ************************************************/
main {
    display: flex;

    height: calc(100% - var(--header-footer-height));
}

main > * {
    overflow-y: hidden;
}

/* =========================
    Left Column --- Side-bar 
 ========================= */
main .left-column {
    height: 100%;
    width: var(--main-col-left-width);
    background-color: black;
    flex-shrink: 0;
    padding: 10px 0;

    display: flex;
    flex-direction: column;
}

main .left-column img {
    width: 25px;
    height: 25px;
    margin: 5px 0;
}

main .header-col,
main .footer-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* --- Sezione: HEADER */
.header-col {
    flex-grow: 1;
}

/* --- --- Sezione: Logo Spotify */
main .left-column img.logo-small {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}

/* --- Sezione: MAIN */
/* --- --- Sezione: Playlist List */
main .playlist-list {
    flex-grow: 1;
}

/* --- Sezione: FOOTER */
main .footer-col {
    margin-top: auto;
}

/* --- --- Sezione: Download App Button */
main .download-container {
    margin-right: 3px;
}

main img.download-icon {
    width: 20px;
    height: 20px;
}

/* --- --- Sezione: Your Profile */
main img.profile-picture {
    background-color: gray;
    margin-top: 10px;

    border-radius: 50%;
}

/* =========================
    Right Column --- Content
 ========================= */
main .right-column {
    height: 100%;
    background-color: #141922;

    flex-grow: 1;
}

/* --- Sezione: Header */
main .main-header {
    width: 100%;
    height: var(--header-footer-height);
    background-color: rgba(0, 0, 0, 0.5);

    text-align: right;
    line-height: var(--header-footer-height);

    position: relative;
}

main .main-header button {
    position: absolute;
    right: 25px;
    top: calc(var(--header-footer-height) / 2);
    transform: translate(0, -50%);

    background-color: transparent;
    color: whitesmoke;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 30px;

    padding: 13px 40px;
}
main .main-header button:hover {
    cursor: pointer;
    font-size: 0.9rem;
    right: 15px;
}

/* --- Sezione: Contenuto */
main .content {
    height: calc(100% - var(--header-footer-height));
    color: wheat;
    overflow-y: auto;
}

/************************************************
    FOOTER 
 ************************************************/
footer {
    height: var(--header-footer-height);
    background-color: #282828;

    display: flex;
}

footer .footer-song,
footer .footer-options {
    flex-basis: 25%;
}

footer .footer-song,
footer .footer-options {
    display: flex;
    align-items: center;
}

/* --- Sezione: Song */
/* --- --- Sezione: Copertina Album */
footer .footer-song img {
    float: left;
    width: 40px;
    height: 40px;
    margin: 0 10px;
}

/* --- --- Sezione: Info Album */
footer .info-album {
    display: flex;
    flex-direction: column;
    line-height: 0.9rem;
    padding-right: 30px;
}

footer .footer-song h2 {
    font-size: 1rem;
    color: whitesmoke;
}
footer .footer-song h3 {
    font-size: 0.8rem;
}
footer .footer-song h3:hover {
    color: whitesmoke;
    text-decoration: underline;
}

/* --- --- Sezione: Pulsanti Album */
footer .footer-song nav div:hover {
    color: whitesmoke;
    cursor: pointer;
}

/* --- Sezione: Player */
footer .footer-player {
    color: whitesmoke;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .footer-player > * {
    padding: 0 30px;
    height: 50%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* --- --- Sezione: Comandi Canzone (Upper Row) */
footer .footer-player .upper-row {
    padding-top: 10px;
    width: 240px;
}

footer .footer-player .upper-row i:hover {
    cursor: pointer;
}

footer .footer-player .upper-row .play-song {
    border: 2px solid whitesmoke;
    border-radius: 50%;
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
}
footer .footer-player .upper-row div.play-song:hover {
    cursor: pointer;
    width: 30px;
    height: 30px;
}
footer .footer-player .upper-row div.play-song:hover i {
    font-size: 1.25em;
    line-height: 0.05em;
    vertical-align: -0.075em;
}

/* --- --- Sezione: Durata Canzone (Lower Row) */
footer .footer-player .lower-row {
    width: 100%;
}
footer .footer-player .lower-row span {
    font-size: 0.8rem;
}
footer .footer-player .lower-row .progress-bar {
    margin: 0 10px;
}

/* --- Sezione: Options */
footer .footer-options {
    justify-content: flex-end;
    margin-right: 10px;

    color: whitesmoke;
}

footer .footer-options ul {
    display: flex;
    min-width: 150px;
}

footer .footer-options li {
    margin: 0 5px;
}

footer .footer-options li:hover {
    cursor: pointer;
}

footer .footer-options li:last-child {
    display: flex;
    align-items: center;
}

/************************************************
    RESPONSIVE: MOBILE-FIRST
 ************************************************/
/* TABLET - s */
@media screen and (min-width: 639px) {
    :root {
        --main-col-left-width: 250px;
    }

    /***********************
        UTILITIES
     ***********************/
    .d-md-none {
        display: none;
    }
    .d-md-inline {
        display: inline;
    }
    .d-md-block {
        display: block;
    }

    /***********************
        MAIN 
     ***********************/
    main .header-col nav > div:hover,
    main .playlist-button > div:hover,
    main .playlist-list li:hover,
    main .footer-col > div:hover:not(.profile-container) {
        cursor: pointer;
        color: whitesmoke;
    }

    /* =========================
        Left Column --- Side-bar 
     ========================= */
    main .left-column {
        padding: 0;
    }

    main .left-column > * {
        display: block;
    }

    main .playlist-button,
    main .playlist-list,
    main .footer-col {
        margin: 20px;
    }

    main
        .left-column
        > *
        div:not(.logo-container, .list-button-text, .playlist-button) {
        display: flex;
        align-items: center;
    }

    main .left-column img:not(.download-icon, .logo-small, .logo) {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }

    main
        .left-column
        img:not(
            .selected,
            .profile-picture,
            .download-icon,
            .logo-small,
            .logo
        ) {
        filter: contrast(50%);
    }

    main .home-container span,
    main .profile-container span {
        color: whitesmoke;
    }

    /* --- Sezione: HEADER */
    .header-col {
        flex-grow: 0;
    }

    /* --- --- Sezione: Logo Spotify */
    /* --- --- --- Sezione: Big Logo */
    main .left-column img.logo {
        width: 150px;
        height: auto;
        margin: 20px 0 25px 20px;
    }

    /* --- --- Sezione: Navigation Tab (Home, Search, Library) */
    main .header-col nav > div {
        padding-left: 20px;
    }

    main .left-column .header-col nav > div:hover > img {
        filter: contrast(100%);
    }

    .header-col nav > * {
        border-left: 3px solid transparent;
    }

    .header-col nav .active {
        border-color: lightgreen;
    }

    /* --- Sezione: MAIN */
    /* --- --- Sezione: Create Playlist Button */
    main .playlist-button {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0;
    }

    main .playlist-button h2 {
        color: whitesmoke;
        font-size: 1.1rem;
    }

    main .create-list-container > div {
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        margin-right: 10px;

        font-size: 1.8rem;
        color: black;
        background-color: gray;
    }
    main .create-list-container:hover > div {
        background-color: whitesmoke;
    }
    main .create-list-container {
        display: flex;
        align-items: center;
        margin-top: 10px;
        padding-bottom: 10px;
    }

    /* --- --- Sezione: Playlist List */
    main .playlist-list {
        margin-top: 0;
        overflow-y: auto;
        min-height: 32px;
    }

    main li div.playlist {
        padding: 10px 0;
    }
    main li:last-child div.playlist {
        padding-bottom: 0;
    }

    /* --- Sezione: FOOTER */
    /* --- --- Sezione: Download App Button */
    main .download-container {
        border-bottom: 1px solid lightgray;
        padding-bottom: 5px;
        margin-bottom: 5px;
        margin-left: 4px;
    }

    main img.download-icon {
        margin-right: 15px;
    }
}

/* TABLET - md */
@media screen and (min-width: 942px) {
    /***********************
        FOOTER 
     ***********************/
    /* --- Sezione: Song */
    /* --- --- Sezione: Pulsanti Album */
    footer .footer-song nav {
        /* width: 20px; */
    }
    footer .footer-song nav ul {
        display: flex;
    }
    footer .footer-song nav li {
        margin: 0 8px;
    }

    /* --- Sezione: Player */
    /* --- --- Sezione: Lower Row */
    footer .footer-player .lower-row .progress-bar {
        margin: 0 20px;
    }
}

/* DESKTOP - lg */
@media screen and (min-width: 1440px) {
    /***********************
        FOOTER 
     ***********************/
    /* --- Sezione: Player */
    /* --- --- Sezione: Lower Row */
    footer .footer-player .lower-row .progress-bar {
        margin: 0 30px;
    }
}
